<h1>Create User Profile</h1>

<h3>Search for GitHub User</h3>
<div id="stock-lookup">
    <%= form_tag search_profile_path, method: :get, id: "stock-lookup-form" do %>
        <div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-10">
                <%= text_field_tag :stock, params[:stock], placeholder: "GitHub User Name", autofocus: true, class: "form-control search-box input-lg" %>
            
            </div>
            <div class="col-md-2">
                <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
                    <i class="fa fa-search"></i> Create a User Profile
                <% end %>
            </div>
        </div>
        
    <% end %>
</div>


<% if @stock %>
    <div class="well results-block"> 
        <strong>Login: </strong><%= @stock["login"] %></br>
        <strong>ID: </strong><%= @stock["id"] %></br>
        <strong>Name: </strong><%= @stock["name"] %></br>
        <strong>Location: </strong><%= @stock["location"] %></br>
        <strong>Public Repos: </strong><%= @stock["public_repos"] %></br>
        <strong>Public Number of Followers: </strong><%= @stock["followers"] %></br>
        <strong>Public Number Following: </strong><%= @stock["following"] %></br>
        <strong>Avatar URL: </strong><%= link_to @stock["avatar_url"] %></br>
    </div>
<% end %>