<h1>Create User Profile</h1>

<h3>Search for GitHub User</h3>
<div id="profile-lookup">
    <%= form_tag search_profile_path, method: :get, id: "profile-lookup-form" do %>
        <div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-10">
                <%= text_field_tag :profile, params[:profile], placeholder: "GitHub User Name", autofocus: true, class: "form-control search-box input-lg" %>
            
            </div>
            <div class="col-md-2">
                <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
                    <i class="fa fa-search"></i> Create a User Profile
                <% end %>
            </div>
        </div>
    <% end %>
</div>

<% if @profile %>
        <div class="well results-block">
                <!--Div that will hold the pie chart-->
                <div id="chart_div"></div></br>
                
                <h4><u>Personal Information:</u></h4>
                <div class="col-md-12">
                    <strong>Name: </strong><%= @person["name"] %></br>
                    <strong>Number of Public Repos: </strong><%= @person["public_repos"] %></br>
                    <strong>Location: </strong><%= @person["location"] %></br>
                   
                   
                    <% if @profile[0].present? %>
                        <strong>User Name: </strong><%= @profile[0]["owner"]["login"] %></br>
                        <strong>User ID: </strong><%= @profile[0]["owner"]["id"] %>
                        <hr>
                </div> 
                
                        <h4><u>Repo Information:</u></h4>
                <div class="col-md-12">
                        <% @HTML = 0 %>
                        <% @Ruby = 0 %>
                        <% @JavaScript = 0 %>
                        <% @CSS = 0 %>
                        <% @PHP = 0 %>
                        <% for i in 0..@profile.length-1 do %>
                            <strong>Repo ID: </strong><%= @profile[i]["id"] %></br>
                            <strong>Repo Name: </strong><%= @profile[i]["name"] %></br>
                            <% languages = HTTParty.get('https://api.github.com/repos/' +  @profile[i]["full_name"] + '/languages', 
                                                                :basic_auth => {:username => "GerBoyle", :password => "#"}) %>
                            <strong>Languages: </strong><%= languages %></br>
                            <% @HTML += languages["HTML"].to_i %>
                            <% @Ruby += languages["Ruby"].to_i %>
                            <% @JavaScript += languages["JavaScript"].to_i %>
                            <% @CSS += languages["CSS"].to_i %>
                            <% @PHP += languages["PHP"].to_i %></br>
                        <% end %>
                        <hr>
                </div>
                
                        <h4><u>Languages Total Information:</u></h4>
                        
                <div class="col-md-12">
                        <strong>HTML Total: </strong><%= @HTML %></br>
                        <strong>Ruby Total: </strong><%= @Ruby %></br>
                        <strong>JavaScript Total: </strong><%= @JavaScript %></br>
                        <strong>CSS Total: </strong><%= @CSS %></br>
                        <strong>PHP Total: </strong><%= @PHP %></br>
                
                    <% else %>
                        <% flash[:danger] = "User entered has no public Repos" %>
                    <% end %>
                </div>
        </div>
<% end %>


<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Languages');
        data.addColumn('number', 'Bytes');
        data.addRows([
          ['HTML', <%= @HTML %>],
          ['Ruby', <%= @Ruby %>],
          ['JavaScript', <%= @JavaScript %>],
          ['CSS', <%= @CSS %>],
          ['PHP', <%= @PHP %>]
        ]);

        // Set chart options
        var options = {'title':'GitHub Languages Pie Chart',
                       'width':800,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

</html>


