<h1>Create User Profile</h1>

<h3>Search for GitHub User</h3>
<div id="profile-lookup">
    <%= form_tag search_profile_path, method: :get, id: "profile-lookup-form" do %>
        <div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-10">
                <%= text_field_tag :profile, params[:profile], placeholder: "GitHub User Name", autofocus: true, class: "form-control search-box input-lg" %>
            
            </div>
            <div class="col-md-2">
                <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
                    <i class="fa fa-search"></i> Create a User Profile
                <% end %>
            </div>
        </div>
        
    <% end %>

</div>
<% if @false %>
    <% if @profile %>
        <div class="well results-block"> 
            <strong>Login: </strong><%= @profile["login"] %></br>
            <strong>ID: </strong><%= @profile["id"] %></br>
            <strong>Name: </strong><%= @profile["name"] %></br>
            <strong>Location: </strong><%= @profile["location"] %></br>
            <strong>Public Repos: </strong><%= @profile["public_repos"] %></br>
            <strong>Public Number of Followers: </strong><%= @profile["followers"] %></br>
            <strong>Public Number Following: </strong><%= @profile["following"] %></br>
            <strong>Type: </strong><%= @profile["type"] %></br>
            <strong>Blog: </strong><%= @profile["blog"] %></br>
            <strong>E mail: </strong><%= @profile["email"] %></br>
            <strong>Hireable: </strong><%= @profile["hireable"] %></br>
            <strong>Bio: </strong><%= @profile["bio"] %></br>
            <strong>Date joined GitHub: </strong><%= @profile["created_at"] %></br>
            <strong>Avatar URL: </strong><%= link_to @profile["avatar_url"] %></br>
        </div>
    <% end %>
<% end %>

    <% if @profile %>
        <div class="well results-block">
                <% for i in 0..@profile.length-1 do %>
                    <strong>Repo ID: </strong><%= @profile[i]["id"] %></br>
                    <strong>Repo Name: </strong><%= @profile[i]["name"] %></br></br>
                <% end %></br>
                
                <% if @profile[0].present? %>
                    <strong>Owner: </strong><%= @profile[0]["owner"]["login"] %></br>
                    <strong>User ID: </strong><%= @profile[0]["owner"]["id"] %></br>
                    <strong>Type: </strong><%= @profile[0]["owner"]["type"] %></br>
                    <strong>Avatar URL: </strong><%= link_to @profile[0]["owner"]["avatar_url"] %></br>
                <% else %>
                    <% flash[:danger] = "User entered has no public Repos" %>
                <% end %>
        </div>
    <% end %>

